:root {
    --primary: #eae7dc;
    --secondary: #e85a4f;
    --alternate: #d8c3a5;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

.logo-name{
    display: flex;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 25px;
}

.navbar{
    background-color: var(--alternate);
    padding: 15px;
    width: 100px;
    height: 100vh;
}
/* container is the entire div that holds the portfolio home link as well as the links for about */
.container {
    height: 50%;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

}
/* a is for the links and their spacing */
a {
    text-decoration: none;
    padding: 16px 0px;
    color: black;
}   

a:hover{
    color: white;
}